[Desktop Entry]
Encoding=UTF-8
Name=Link to Synoptic-Summarizing Log Files-ToolDemo - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=EueARuTRP8k
Icon=text-html
Name[en_US]=DemoVideo
